div {
  width: 900px;
  border: 5px solid green;
  padding: 20px;
  margin: 7px;
}

b{
  color: black;
}

p{
  color: goldenrod;

}

.p1 {
  color: greenyellow;
}

.p2{
  color: white;
  background-color: black;
}
.p3{
  color: white;
  background-color: purple;
}
.p4{
  text-align: center;
}
.p5{
  text-align: left;
}
.p6{
  text-align: right;
}
.p7{
  text-align: justify;
}
.p8{
   text-align-last: center;
}
.p9{
   text-align-last: left;
}
.p10{
  text-align-last: right;
}
.p11{
  direction: rtl;
}
.p12{
  direction: rtl;
  unicode-bidi: bidi-override;
}
.p13{
  text-decoration: overline dotted red ;
}
.p14{
  text-decoration: line-through solid green ;  
}
.p15{
  text-decoration: underline double blue;
}
.p16{
  text-decoration: underline overline wavy brown ;
}
.p17{
  text-transform: uppercase;
}
.p18{
  text-transform: lowercase;
}
.p19{
  text-transform: capitalize;
}
.p20{
  text-indent: 70px;
}
.p21{
  letter-spacing: 10px;
}
.p22{
  line-height: 45px;
}
.p23{
  word-spacing: 14px;
}
.p24{
  white-space: 70px;
}